@import '../../../../../../../../../../styleSheets.style.scss';

.resume_project_info_container {
	font-size: 14px;
	margin-bottom: 8px;
	.resume_project_company_title {
		margin-right: 12px;
		@include fc_1D2A3A;
	}
	.resume_project_period {
		@include fc_6c7a89;
	}
}
