// 폰트 컬러
@mixin fc_1E_FA {
	& {
		color: #1e2022;
	}
	@at-root .darkmode {
		color: #fafafa;
	}
}

@mixin fc_FA_1E {
	& {
		color: #fafafa;
	}

	@at-root .darkmode {
		color: #1e2022;
	}
}
@mixin fc_6c7a89 {
	& {
		color: #6c7a89;
	}
}

@mixin fc_ffd700 {
	& {
		color: #ffd700;
	}
}

@mixin fc_1D2A3A {
	& {
		color: #1d2a3a;
	}
}
@mixin fc_1ABC9C {
	& {
		color: #1abc9c;
	}
}
// 백그라운드 컬러
@mixin bc_FA_1E {
	& {
		background-color: #fafafa;
	}
	@at-root .darkmode {
		background-color: #1e2022;
	}
}
@mixin bc_1E_FA {
	& {
		background-color: #1e2022;
	}
	@at-root .darkmode {
		background-color: #fafafa;
	}
}
@mixin bc_6C {
	background-color: #6c7a89;
}
@mixin bc_transparent {
	background-color: transparent;
}

@mixin bc_1E {
	background-color: #1e2022;
}

@mixin bc_FA {
	background-color: #fafafa;
}

@mixin bc_ffd700 {
	& {
		background-color: #ffd700;
	}
}
@mixin bc_1ABC9C {
	& {
		background-color: #1abc9c;
	}
}
// 보더 컬러
@mixin lc_CB_FA {
	& {
		border-color: #cbd0d8;
	}
	@at-root .darkmode {
		border-color: #fafafa;
	}
}
